.viewEdit {
  float:right;
  text-decoration: none;
  margin: 0 auto;
  cursor: pointer;
  outline: none;
  font-family: arial;
  a {
    color: rgb(40,40,40);
  }
}

.viewPost {
  padding: 20px 20px;
}

.viewTitle {
  text-align: center;
}

.viewMsg {
  white-space: pre-wrap;
  font-size: 1.2em;
}